{"openapi": "3.0.3", "info": {"title": "PIMMS API", "description": "PIMMS | Grow with deeplinks", "version": "0.0.1", "contact": {"name": "PIMMS Support", "email": "alexandre@pimms.io", "url": "https://pimms.io/api"}, "license": {"name": "AGPL-3.0 license", "url": "https://github.com/getpimms/pimms/blob/main/LICENSE.md"}}, "servers": [{"url": "https://api.pimms.io", "description": "Production API"}], "paths": {"/links": {"post": {"operationId": "createLink", "x-speakeasy-name-override": "create", "x-speakeasy-usage-example": true, "summary": "Create a new link", "description": "Create a new link for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"url": {"type": "string", "description": "The destination URL of the short link.", "example": "https://google.com"}, "domain": {"type": "string", "maxLength": 190, "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "maxLength": 190, "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "externalId": {"type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.", "example": "123456"}, "tenantId": {"type": "string", "nullable": true, "maxLength": 255, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "prefix": {"type": "string", "description": "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."}, "trackConversion": {"type": "boolean", "description": "Whether to track conversions for the short link. Defaults to `false` if not provided."}, "archived": {"type": "boolean", "description": "Whether the short link is archived. Defaults to `false` if not provided."}, "publicStats": {"type": "boolean", "description": "Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.", "deprecated": true}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true}, "tagIds": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique IDs of the tags assigned to the short link.", "example": ["clux0rgak00011..."]}, "tagNames": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire at."}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "description": "Whether the short link uses Custom Social Media Cards feature. Defaults to `false` if not provided."}, "title": {"type": "string", "nullable": true, "description": "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "description": "Whether the short link uses link cloaking. Defaults to `false` if not provided."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}, "doIndex": {"type": "boolean", "description": "Allow search engines to index your short link. Defaults to `false` if not provided."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."}, "ref": {"type": "string", "nullable": true, "description": "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."}, "webhookIds": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."}}, "required": ["url"]}}}}, "responses": {"200": {"description": "The created link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LinkSchema"}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}, "get": {"operationId": "getLinks", "x-speakeasy-name-override": "list", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page", "in": "parameters", "type": "page"}, {"name": "pageSize", "in": "parameters", "type": "limit"}], "outputs": {"results": "$"}}, "summary": "Retrieve a list of links", "description": "Retrieve a paginated list of links for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "query", "name": "domain", "description": "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.", "schema": {"type": "string", "description": "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."}}, {"in": "query", "name": "tagId", "description": "Deprecated. Use `tagIds` instead. The tag ID to filter the links by.", "schema": {"type": "string", "description": "Deprecated. Use `tagIds` instead. The tag ID to filter the links by.", "deprecated": true}}, {"in": "query", "name": "tagIds", "description": "The tag IDs to filter the links by.", "schema": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The tag IDs to filter the links by."}}, {"in": "query", "name": "tagNames", "description": "The unique name of the tags assigned to the short link (case insensitive).", "schema": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}}, {"in": "query", "name": "folderId", "description": "The folder ID to filter the links by.", "schema": {"type": "string", "description": "The folder ID to filter the links by."}}, {"in": "query", "name": "search", "description": "The search term to filter the links by. The search term will be matched against the short link slug and the destination url.", "schema": {"type": "string", "description": "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."}}, {"in": "query", "name": "userId", "description": "The user ID to filter the links by.", "schema": {"type": "string", "description": "The user ID to filter the links by."}}, {"in": "query", "name": "tenantId", "description": "The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.", "schema": {"type": "string", "description": "The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."}}, {"in": "query", "name": "showArchived", "description": "Whether to include archived links in the response. Defaults to `false` if not provided.", "schema": {"type": "boolean", "default": "false", "description": "Whether to include archived links in the response. Defaults to `false` if not provided."}}, {"in": "query", "name": "withTags", "description": "DEPRECATED. Filter for links that have at least one tag assigned to them.", "schema": {"type": "boolean", "default": "false", "description": "DEPRECATED. Filter for links that have at least one tag assigned to them.", "deprecated": true}}, {"in": "query", "name": "sortBy", "description": "The field to sort the links by. The default is `createdAt`.", "schema": {"type": "string", "enum": ["createdAt", "clicks", "saleAmount", "lastClicked"], "default": "createdAt", "description": "The field to sort the links by. The default is `createdAt`."}}, {"in": "query", "name": "sortOrder", "description": "The sort order. The default is `desc`.", "schema": {"type": "string", "enum": ["asc", "desc"], "default": "desc", "description": "The sort order. The default is `desc`."}}, {"in": "query", "name": "sort", "description": "DEPRECATED. Use `sortBy` instead.", "schema": {"type": "string", "enum": ["createdAt", "clicks", "saleAmount", "lastClicked"], "default": "createdAt", "description": "DEPRECATED. Use `sortBy` instead.", "deprecated": true}}, {"in": "query", "name": "page", "description": "The page number for pagination.", "schema": {"type": "number", "minimum": 0, "exclusiveMinimum": true, "default": 1, "description": "The page number for pagination.", "example": 1}}, {"in": "query", "name": "pageSize", "description": "The number of items per page.", "schema": {"type": "number", "minimum": 0, "exclusiveMinimum": true, "maximum": 100, "default": 100, "description": "The number of items per page.", "example": 50}}], "responses": {"200": {"description": "A list of links", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LinkSchema"}}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/links/count": {"get": {"operationId": "getLinksCount", "x-speakeasy-name-override": "count", "summary": "Retrieve links count", "description": "Retrieve the number of links for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "query", "name": "domain", "description": "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.", "schema": {"type": "string", "description": "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."}}, {"in": "query", "name": "tagId", "description": "Deprecated. Use `tagIds` instead. The tag ID to filter the links by.", "schema": {"type": "string", "description": "Deprecated. Use `tagIds` instead. The tag ID to filter the links by.", "deprecated": true}}, {"in": "query", "name": "tagIds", "description": "The tag IDs to filter the links by.", "schema": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The tag IDs to filter the links by."}}, {"in": "query", "name": "tagNames", "description": "The unique name of the tags assigned to the short link (case insensitive).", "schema": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}}, {"in": "query", "name": "folderId", "description": "The folder ID to filter the links by.", "schema": {"type": "string", "description": "The folder ID to filter the links by."}}, {"in": "query", "name": "search", "description": "The search term to filter the links by. The search term will be matched against the short link slug and the destination url.", "schema": {"type": "string", "description": "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."}}, {"in": "query", "name": "userId", "description": "The user ID to filter the links by.", "schema": {"type": "string", "description": "The user ID to filter the links by."}}, {"in": "query", "name": "tenantId", "description": "The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.", "schema": {"type": "string", "description": "The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."}}, {"in": "query", "name": "showArchived", "description": "Whether to include archived links in the response. Defaults to `false` if not provided.", "schema": {"type": "boolean", "default": "false", "description": "Whether to include archived links in the response. Defaults to `false` if not provided."}}, {"in": "query", "name": "withTags", "description": "DEPRECATED. Filter for links that have at least one tag assigned to them.", "schema": {"type": "boolean", "default": "false", "description": "DEPRECATED. Filter for links that have at least one tag assigned to them.", "deprecated": true}}, {"in": "query", "name": "groupBy", "description": "The field to group the links by.", "schema": {"anyOf": [{"type": "string", "enum": ["domain"]}, {"type": "string", "enum": ["tagId"]}, {"type": "string", "enum": ["userId"]}, {"type": "string", "enum": ["folderId"]}], "description": "The field to group the links by."}}], "responses": {"200": {"description": "A list of links", "content": {"application/json": {"schema": {"type": "number", "description": "The number of links matching the query."}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/links/info": {"get": {"operationId": "getLinkInfo", "x-speakeasy-name-override": "get", "summary": "Retrieve a link", "description": "Retrieve the info for a link.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "query", "name": "domain", "schema": {"type": "string", "minLength": 1, "description": "The domain of the link to retrieve."}}, {"in": "query", "name": "key", "description": "The key of the link to retrieve.", "schema": {"type": "string", "minLength": 1, "description": "The key of the link to retrieve."}}, {"in": "query", "name": "linkId", "description": "The unique ID of the short link.", "schema": {"type": "string", "description": "The unique ID of the short link.", "example": "clux0rgak00011..."}}, {"in": "query", "name": "externalId", "description": "This is the ID of the link in the your database.", "schema": {"type": "string", "description": "This is the ID of the link in the your database.", "example": "123456"}}], "responses": {"200": {"description": "The retrieved link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LinkSchema"}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/links/{linkId}": {"patch": {"operationId": "updateLink", "x-speakeasy-name-override": "update", "x-speakeasy-max-method-params": 2, "summary": "Update a link", "description": "Update a link for the authenticated workspace. If there's no change, returns it as it is.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "path", "name": "linkId", "description": "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.", "schema": {"type": "string", "description": "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."}, "required": true}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"url": {"type": "string", "description": "The destination URL of the short link.", "example": "https://google.com"}, "domain": {"type": "string", "maxLength": 190, "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "maxLength": 190, "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "externalId": {"type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.", "example": "123456"}, "tenantId": {"type": "string", "nullable": true, "maxLength": 255, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "prefix": {"type": "string", "description": "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."}, "trackConversion": {"type": "boolean", "description": "Whether to track conversions for the short link. Defaults to `false` if not provided."}, "archived": {"type": "boolean", "description": "Whether the short link is archived. Defaults to `false` if not provided."}, "publicStats": {"type": "boolean", "description": "Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.", "deprecated": true}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true}, "tagIds": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique IDs of the tags assigned to the short link.", "example": ["clux0rgak00011..."]}, "tagNames": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire at."}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "description": "Whether the short link uses Custom Social Media Cards feature. Defaults to `false` if not provided."}, "title": {"type": "string", "nullable": true, "description": "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "description": "Whether the short link uses link cloaking. Defaults to `false` if not provided."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}, "doIndex": {"type": "boolean", "description": "Allow search engines to index your short link. Defaults to `false` if not provided."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."}, "ref": {"type": "string", "nullable": true, "description": "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."}, "webhookIds": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."}}}}}}, "responses": {"200": {"description": "The updated link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LinkSchema"}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}, "delete": {"operationId": "deleteLink", "x-speakeasy-name-override": "delete", "x-speakeasy-max-method-params": 1, "summary": "Delete a link", "description": "Delete a link for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "path", "name": "linkId", "description": "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.", "schema": {"type": "string", "description": "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."}, "required": true}], "responses": {"200": {"description": "The deleted link ID.", "content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "description": "The ID of the link."}}, "required": ["id"]}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/links/bulk": {"post": {"operationId": "bulkCreateLinks", "x-speakeasy-name-override": "createMany", "summary": "Bulk create links", "description": "Bulk create up to 100 links for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"url": {"type": "string", "description": "The destination URL of the short link.", "example": "https://google.com"}, "domain": {"type": "string", "maxLength": 190, "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "maxLength": 190, "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "externalId": {"type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.", "example": "123456"}, "tenantId": {"type": "string", "nullable": true, "maxLength": 255, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "prefix": {"type": "string", "description": "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."}, "trackConversion": {"type": "boolean", "description": "Whether to track conversions for the short link. Defaults to `false` if not provided."}, "archived": {"type": "boolean", "description": "Whether the short link is archived. Defaults to `false` if not provided."}, "publicStats": {"type": "boolean", "description": "Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.", "deprecated": true}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true}, "tagIds": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique IDs of the tags assigned to the short link.", "example": ["clux0rgak00011..."]}, "tagNames": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire at."}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "description": "Whether the short link uses Custom Social Media Cards feature. Defaults to `false` if not provided."}, "title": {"type": "string", "nullable": true, "description": "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "description": "Whether the short link uses link cloaking. Defaults to `false` if not provided."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}, "doIndex": {"type": "boolean", "description": "Allow search engines to index your short link. Defaults to `false` if not provided."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."}, "ref": {"type": "string", "nullable": true, "description": "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."}, "webhookIds": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."}}, "required": ["url"]}}}}}, "responses": {"200": {"description": "The created links", "content": {"application/json": {"schema": {"type": "array", "items": {"oneOf": [{"$ref": "#/components/schemas/LinkSchema"}, {"$ref": "#/components/schemas/LinkErrorSchema"}]}}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}, "patch": {"operationId": "bulkUpdateLinks", "x-speakeasy-name-override": "updateMany", "summary": "Bulk update links", "description": "Bulk update up to 100 links with the same data for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"linkIds": {"type": "array", "items": {"type": "string"}, "maxItems": 100, "description": "The IDs of the links to update. Takes precedence over `externalIds`.", "default": []}, "externalIds": {"type": "array", "items": {"type": "string"}, "maxItems": 100, "description": "The external IDs of the links to update as stored in your database.", "default": []}, "data": {"type": "object", "properties": {"url": {"type": "string", "description": "The destination URL of the short link.", "example": "https://google.com"}, "tenantId": {"type": "string", "nullable": true, "maxLength": 255, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "trackConversion": {"type": "boolean", "description": "Whether to track conversions for the short link. Defaults to `false` if not provided."}, "archived": {"type": "boolean", "description": "Whether the short link is archived. Defaults to `false` if not provided."}, "publicStats": {"type": "boolean", "description": "Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.", "deprecated": true}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true}, "tagIds": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique IDs of the tags assigned to the short link.", "example": ["clux0rgak00011..."]}, "tagNames": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire at."}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "description": "Whether the short link uses Custom Social Media Cards feature. Defaults to `false` if not provided."}, "title": {"type": "string", "nullable": true, "description": "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "description": "Whether the short link uses link cloaking. Defaults to `false` if not provided."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}, "doIndex": {"type": "boolean", "description": "Allow search engines to index your short link. Defaults to `false` if not provided."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."}, "ref": {"type": "string", "nullable": true, "description": "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."}, "webhookIds": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."}}}}, "required": ["data"]}}}}, "responses": {"200": {"description": "The updated links", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LinkSchema"}}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}, "delete": {"operationId": "bulkDeleteLinks", "x-speakeasy-name-override": "deleteMany", "summary": "Bulk delete links", "description": "Bulk delete up to 100 links for the authenticated workspace.", "tags": ["Links"], "security": [{"token": []}], "parameters": [{"in": "query", "name": "linkIds", "description": "Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.", "explode": false, "style": "form", "schema": {"type": "array", "items": {"type": "string"}, "description": "Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.", "example": ["clux0rgak00011...", "clux0rgak00022..."]}, "required": true}], "responses": {"200": {"description": "The deleted links count.", "content": {"application/json": {"schema": {"type": "object", "properties": {"deletedCount": {"type": "number", "description": "The number of links deleted."}}, "required": ["deletedCount"]}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/links/upsert": {"put": {"operationId": "upsertLink", "x-speakeasy-name-override": "upsert", "x-speakeasy-usage-example": true, "summary": "Upsert a link", "description": "Upsert a link for the authenticated workspace by its URL. If a link with the same URL already exists, return it (or update it if there are any changes). Otherwise, a new link will be created.", "tags": ["Links"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"url": {"type": "string", "description": "The destination URL of the short link.", "example": "https://google.com"}, "domain": {"type": "string", "maxLength": 190, "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "maxLength": 190, "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "externalId": {"type": "string", "nullable": true, "minLength": 1, "maxLength": 255, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.", "example": "123456"}, "tenantId": {"type": "string", "nullable": true, "maxLength": 255, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "prefix": {"type": "string", "description": "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."}, "trackConversion": {"type": "boolean", "description": "Whether to track conversions for the short link. Defaults to `false` if not provided."}, "archived": {"type": "boolean", "description": "Whether the short link is archived. Defaults to `false` if not provided."}, "publicStats": {"type": "boolean", "description": "Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.", "deprecated": true}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.", "deprecated": true}, "tagIds": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique IDs of the tags assigned to the short link.", "example": ["clux0rgak00011..."]}, "tagNames": {"anyOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "The unique name of the tags assigned to the short link (case insensitive)."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID existing folder to assign the short link to."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire at."}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "description": "Whether the short link uses Custom Social Media Cards feature. Defaults to `false` if not provided."}, "title": {"type": "string", "nullable": true, "description": "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "description": "Whether the short link uses link cloaking. Defaults to `false` if not provided."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}, "doIndex": {"type": "boolean", "description": "Allow search engines to index your short link. Defaults to `false` if not provided."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."}, "ref": {"type": "string", "nullable": true, "description": "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."}, "webhookIds": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."}}, "required": ["url"]}}}}, "responses": {"200": {"description": "The upserted link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LinkSchema"}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/track/lead": {"post": {"operationId": "trackLead", "x-speakeasy-name-override": "lead", "summary": "Track a lead", "description": "Track a lead for a short link.", "tags": ["Track"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"clickId": {"type": "string", "minLength": 1, "description": "The ID of the click in PIMMS. You can read this value from `pimms_id` cookie."}, "eventName": {"type": "string", "minLength": 1, "maxLength": 50, "description": "The name of the event to track.", "example": "Sign up"}, "externalId": {"type": "string", "maxLength": 100, "default": "", "description": "This is the unique identifier for the customer in the client's app. This is used to track the customer's journey."}, "customerId": {"type": "string", "nullable": true, "maxLength": 100, "default": null, "description": "This is the unique identifier for the customer in the client's app. This is used to track the customer's journey.", "deprecated": true}, "customerName": {"type": "string", "nullable": true, "maxLength": 100, "default": null, "description": "Name of the customer in the client's app."}, "customerEmail": {"type": "string", "nullable": true, "format": "email", "maxLength": 100, "default": null, "description": "Email of the customer in the client's app."}, "customerAvatar": {"type": "string", "nullable": true, "default": null, "description": "Avatar of the customer in the client's app."}, "metadata": {"type": "object", "nullable": true, "additionalProperties": {}, "default": null, "description": "Additional metadata to be stored with the lead event"}}, "required": ["clickId", "eventName"]}}}}, "responses": {"200": {"description": "A lead was tracked.", "content": {"application/json": {"schema": {"type": "object", "properties": {"click": {"type": "object", "properties": {"id": {"type": "string"}}, "required": ["id"]}, "customer": {"type": "object", "properties": {"name": {"type": "string", "nullable": true}, "email": {"type": "string", "nullable": true}, "avatar": {"type": "string", "nullable": true}, "externalId": {"type": "string", "nullable": true}}, "required": ["name", "email", "avatar", "externalId"]}}, "required": ["click", "customer"]}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/track/sale": {"post": {"operationId": "trackSale", "x-speakeasy-name-override": "sale", "summary": "Track a sale", "description": "Track a sale for a short link.", "tags": ["Track"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"externalId": {"type": "string", "maxLength": 100, "default": "", "description": "This is the unique identifier for the customer in the client's app. This is used to track the customer's journey."}, "customerId": {"type": "string", "nullable": true, "maxLength": 100, "default": null, "description": "This is the unique identifier for the customer in the client's app. This is used to track the customer's journey.", "deprecated": true}, "amount": {"type": "integer", "minimum": 0, "description": "The amount of the sale. Should be passed in cents."}, "paymentProcessor": {"type": "string", "enum": ["stripe", "shopify", "paddle"], "description": "The payment processor via which the sale was made."}, "eventName": {"type": "string", "maxLength": 50, "default": "Purchase", "description": "The name of the sale event. It can be used to track different types of event for example 'Purchase', 'Upgrade', 'Payment', etc.", "example": "Purchase"}, "invoiceId": {"type": "string", "nullable": true, "default": null, "description": "The invoice ID of the sale."}, "currency": {"type": "string", "default": "usd", "description": "The currency of the sale. Accepts ISO 4217 currency codes."}, "metadata": {"type": "object", "nullable": true, "additionalProperties": {}, "default": null, "description": "Additional metadata to be stored with the sale event."}}, "required": ["amount", "paymentProcessor"]}}}}, "responses": {"200": {"description": "A sale was tracked.", "content": {"application/json": {"schema": {"type": "object", "properties": {"eventName": {"type": "string"}, "customer": {"type": "object", "nullable": true, "properties": {"id": {"type": "string"}, "name": {"type": "string", "nullable": true}, "email": {"type": "string", "nullable": true}, "avatar": {"type": "string", "nullable": true}, "externalId": {"type": "string", "nullable": true}}, "required": ["id", "name", "email", "avatar", "externalId"]}, "sale": {"type": "object", "nullable": true, "properties": {"amount": {"type": "number"}, "currency": {"type": "string"}, "paymentProcessor": {"type": "string"}, "invoiceId": {"type": "string", "nullable": true}, "metadata": {"type": "object", "nullable": true, "additionalProperties": {}}}, "required": ["amount", "currency", "paymentProcessor", "invoiceId", "metadata"]}}, "required": ["eventName", "customer", "sale"]}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/tokens/embed": {"post": {"operationId": "createEmbedToken", "x-speakeasy-name-override": "create", "summary": "Create a new embed token", "description": "Create a new embed token for the referral link.", "tags": ["Embed Tokens"], "security": [{"token": []}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"programId": {"type": "string", "minLength": 1}, "partnerId": {"type": "string", "nullable": true}, "tenantId": {"type": "string", "nullable": true}}, "required": ["programId"]}}}}, "responses": {"201": {"description": "The created public embed token.", "content": {"application/json": {"schema": {"type": "object", "properties": {"publicToken": {"type": "string"}, "expires": {"type": "string"}}, "required": ["publicToken", "expires"]}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}, "/qr": {"get": {"operationId": "getQRCode", "x-speakeasy-name-override": "get", "summary": "Retrieve a QR code", "description": "Retrieve a QR code for a link.", "tags": ["QR Codes"], "parameters": [{"in": "query", "name": "url", "description": "The URL to generate a QR code for.", "schema": {"type": "string", "description": "The URL to generate a QR code for."}, "required": true}, {"in": "query", "name": "logo", "description": "The logo to include in the QR code. Can only be used with a paid plan on PIMMS.", "schema": {"type": "string", "description": "The logo to include in the QR code. Can only be used with a paid plan on PIMMS."}}, {"in": "query", "name": "size", "description": "The size of the QR code in pixels. Defaults to `600` if not provided.", "schema": {"type": "number", "default": 600, "description": "The size of the QR code in pixels. Defaults to `600` if not provided."}}, {"in": "query", "name": "level", "description": "The level of error correction to use for the QR code. Defaults to `L` if not provided.", "schema": {"type": "string", "enum": ["L", "M", "Q", "H"], "default": "L", "description": "The level of error correction to use for the QR code. Defaults to `L` if not provided."}}, {"in": "query", "name": "fgColor", "description": "The foreground color of the QR code in hex format. Defaults to `#000000` if not provided.", "schema": {"type": "string", "default": "#000000", "description": "The foreground color of the QR code in hex format. Defaults to `#000000` if not provided."}}, {"in": "query", "name": "bgColor", "description": "The background color of the QR code in hex format. Defaults to `#ffffff` if not provided.", "schema": {"type": "string", "default": "#FFFFFF", "description": "The background color of the QR code in hex format. Defaults to `#ffffff` if not provided."}}, {"in": "query", "name": "hideLogo", "description": "Whether to hide the logo in the QR code. Can only be used with a paid plan on PIMMS.", "schema": {"type": "boolean", "default": "false", "description": "Whether to hide the logo in the QR code. Can only be used with a paid plan on PIMMS."}}, {"in": "query", "name": "margin", "description": "The size of the margin around the QR code. Defaults to 2 if not provided.", "schema": {"type": "number", "default": 2, "description": "The size of the margin around the QR code. Defaults to 2 if not provided."}}, {"in": "query", "name": "includeMargin", "description": "DEPRECATED: Margin is included by default. Use the `margin` prop to customize the margin size.", "schema": {"type": "boolean", "default": "true", "description": "DEPRECATED: Margin is included by default. Use the `margin` prop to customize the margin size.", "deprecated": true}}], "responses": {"200": {"description": "The QR code", "content": {"image/png": {"schema": {"type": "string"}}}}, "400": {"$ref": "#/components/responses/400"}, "401": {"$ref": "#/components/responses/401"}, "403": {"$ref": "#/components/responses/403"}, "404": {"$ref": "#/components/responses/404"}, "409": {"$ref": "#/components/responses/409"}, "410": {"$ref": "#/components/responses/410"}, "422": {"$ref": "#/components/responses/422"}, "429": {"$ref": "#/components/responses/429"}, "500": {"$ref": "#/components/responses/500"}}}}}, "components": {"securitySchemes": {"token": {"type": "http", "description": "Default authentication mechanism", "scheme": "bearer", "x-speakeasy-example": "PIMMS_API_KEY"}}, "schemas": {"LinkSchema": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique ID of the short link."}, "domain": {"type": "string", "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "url": {"type": "string", "format": "uri", "description": "The destination URL of the short link."}, "trackConversion": {"type": "boolean", "default": false, "description": "Whether to track conversions for the short link."}, "externalId": {"type": "string", "nullable": true, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace."}, "tenantId": {"type": "string", "nullable": true, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "archived": {"type": "boolean", "default": false, "description": "Whether the short link is archived."}, "expiresAt": {"type": "string", "nullable": true, "description": "The date and time when the short link will expire in ISO-8601 format."}, "expiredUrl": {"type": "string", "nullable": true, "format": "uri", "description": "The URL to redirect to when the short link has expired."}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean", "default": false, "description": "Whether the short link uses Custom Social Media Cards feature."}, "title": {"type": "string", "nullable": true, "description": "The title of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The description of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The image of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean", "default": false, "description": "Whether the short link uses link cloaking."}, "doIndex": {"type": "boolean", "default": false, "description": "Whether to allow search engines to index the short link."}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"type": "object", "nullable": true, "properties": {"AF": {"type": "string", "format": "uri"}, "AL": {"type": "string", "format": "uri"}, "DZ": {"type": "string", "format": "uri"}, "AS": {"type": "string", "format": "uri"}, "AD": {"type": "string", "format": "uri"}, "AO": {"type": "string", "format": "uri"}, "AI": {"type": "string", "format": "uri"}, "AQ": {"type": "string", "format": "uri"}, "AG": {"type": "string", "format": "uri"}, "AR": {"type": "string", "format": "uri"}, "AM": {"type": "string", "format": "uri"}, "AW": {"type": "string", "format": "uri"}, "AU": {"type": "string", "format": "uri"}, "AT": {"type": "string", "format": "uri"}, "AZ": {"type": "string", "format": "uri"}, "BS": {"type": "string", "format": "uri"}, "BH": {"type": "string", "format": "uri"}, "BD": {"type": "string", "format": "uri"}, "BB": {"type": "string", "format": "uri"}, "BY": {"type": "string", "format": "uri"}, "BE": {"type": "string", "format": "uri"}, "BZ": {"type": "string", "format": "uri"}, "BJ": {"type": "string", "format": "uri"}, "BM": {"type": "string", "format": "uri"}, "BT": {"type": "string", "format": "uri"}, "BO": {"type": "string", "format": "uri"}, "BA": {"type": "string", "format": "uri"}, "BW": {"type": "string", "format": "uri"}, "BV": {"type": "string", "format": "uri"}, "BR": {"type": "string", "format": "uri"}, "IO": {"type": "string", "format": "uri"}, "BN": {"type": "string", "format": "uri"}, "BG": {"type": "string", "format": "uri"}, "BF": {"type": "string", "format": "uri"}, "BI": {"type": "string", "format": "uri"}, "KH": {"type": "string", "format": "uri"}, "CM": {"type": "string", "format": "uri"}, "CA": {"type": "string", "format": "uri"}, "CV": {"type": "string", "format": "uri"}, "KY": {"type": "string", "format": "uri"}, "CF": {"type": "string", "format": "uri"}, "TD": {"type": "string", "format": "uri"}, "CL": {"type": "string", "format": "uri"}, "CN": {"type": "string", "format": "uri"}, "CX": {"type": "string", "format": "uri"}, "CC": {"type": "string", "format": "uri"}, "CO": {"type": "string", "format": "uri"}, "KM": {"type": "string", "format": "uri"}, "CG": {"type": "string", "format": "uri"}, "CD": {"type": "string", "format": "uri"}, "CK": {"type": "string", "format": "uri"}, "CR": {"type": "string", "format": "uri"}, "CI": {"type": "string", "format": "uri"}, "HR": {"type": "string", "format": "uri"}, "CU": {"type": "string", "format": "uri"}, "CY": {"type": "string", "format": "uri"}, "CZ": {"type": "string", "format": "uri"}, "DK": {"type": "string", "format": "uri"}, "DJ": {"type": "string", "format": "uri"}, "DM": {"type": "string", "format": "uri"}, "DO": {"type": "string", "format": "uri"}, "EC": {"type": "string", "format": "uri"}, "EG": {"type": "string", "format": "uri"}, "SV": {"type": "string", "format": "uri"}, "GQ": {"type": "string", "format": "uri"}, "ER": {"type": "string", "format": "uri"}, "EE": {"type": "string", "format": "uri"}, "ET": {"type": "string", "format": "uri"}, "FK": {"type": "string", "format": "uri"}, "FO": {"type": "string", "format": "uri"}, "FJ": {"type": "string", "format": "uri"}, "FI": {"type": "string", "format": "uri"}, "FR": {"type": "string", "format": "uri"}, "GF": {"type": "string", "format": "uri"}, "PF": {"type": "string", "format": "uri"}, "TF": {"type": "string", "format": "uri"}, "GA": {"type": "string", "format": "uri"}, "GM": {"type": "string", "format": "uri"}, "GE": {"type": "string", "format": "uri"}, "DE": {"type": "string", "format": "uri"}, "GH": {"type": "string", "format": "uri"}, "GI": {"type": "string", "format": "uri"}, "GR": {"type": "string", "format": "uri"}, "GL": {"type": "string", "format": "uri"}, "GD": {"type": "string", "format": "uri"}, "GP": {"type": "string", "format": "uri"}, "GU": {"type": "string", "format": "uri"}, "GT": {"type": "string", "format": "uri"}, "GN": {"type": "string", "format": "uri"}, "GW": {"type": "string", "format": "uri"}, "GY": {"type": "string", "format": "uri"}, "HT": {"type": "string", "format": "uri"}, "HM": {"type": "string", "format": "uri"}, "VA": {"type": "string", "format": "uri"}, "HN": {"type": "string", "format": "uri"}, "HK": {"type": "string", "format": "uri"}, "HU": {"type": "string", "format": "uri"}, "IS": {"type": "string", "format": "uri"}, "IN": {"type": "string", "format": "uri"}, "ID": {"type": "string", "format": "uri"}, "IR": {"type": "string", "format": "uri"}, "IQ": {"type": "string", "format": "uri"}, "IE": {"type": "string", "format": "uri"}, "IL": {"type": "string", "format": "uri"}, "IT": {"type": "string", "format": "uri"}, "JM": {"type": "string", "format": "uri"}, "JP": {"type": "string", "format": "uri"}, "JO": {"type": "string", "format": "uri"}, "KZ": {"type": "string", "format": "uri"}, "KE": {"type": "string", "format": "uri"}, "KI": {"type": "string", "format": "uri"}, "KP": {"type": "string", "format": "uri"}, "KR": {"type": "string", "format": "uri"}, "KW": {"type": "string", "format": "uri"}, "KG": {"type": "string", "format": "uri"}, "LA": {"type": "string", "format": "uri"}, "LV": {"type": "string", "format": "uri"}, "LB": {"type": "string", "format": "uri"}, "LS": {"type": "string", "format": "uri"}, "LR": {"type": "string", "format": "uri"}, "LY": {"type": "string", "format": "uri"}, "LI": {"type": "string", "format": "uri"}, "LT": {"type": "string", "format": "uri"}, "LU": {"type": "string", "format": "uri"}, "MO": {"type": "string", "format": "uri"}, "MG": {"type": "string", "format": "uri"}, "MW": {"type": "string", "format": "uri"}, "MY": {"type": "string", "format": "uri"}, "MV": {"type": "string", "format": "uri"}, "ML": {"type": "string", "format": "uri"}, "MT": {"type": "string", "format": "uri"}, "MH": {"type": "string", "format": "uri"}, "MQ": {"type": "string", "format": "uri"}, "MR": {"type": "string", "format": "uri"}, "MU": {"type": "string", "format": "uri"}, "YT": {"type": "string", "format": "uri"}, "MX": {"type": "string", "format": "uri"}, "FM": {"type": "string", "format": "uri"}, "MD": {"type": "string", "format": "uri"}, "MC": {"type": "string", "format": "uri"}, "MN": {"type": "string", "format": "uri"}, "MS": {"type": "string", "format": "uri"}, "MA": {"type": "string", "format": "uri"}, "MZ": {"type": "string", "format": "uri"}, "MM": {"type": "string", "format": "uri"}, "NA": {"type": "string", "format": "uri"}, "NR": {"type": "string", "format": "uri"}, "NP": {"type": "string", "format": "uri"}, "NL": {"type": "string", "format": "uri"}, "NC": {"type": "string", "format": "uri"}, "NZ": {"type": "string", "format": "uri"}, "NI": {"type": "string", "format": "uri"}, "NE": {"type": "string", "format": "uri"}, "NG": {"type": "string", "format": "uri"}, "NU": {"type": "string", "format": "uri"}, "NF": {"type": "string", "format": "uri"}, "MK": {"type": "string", "format": "uri"}, "MP": {"type": "string", "format": "uri"}, "NO": {"type": "string", "format": "uri"}, "OM": {"type": "string", "format": "uri"}, "PK": {"type": "string", "format": "uri"}, "PW": {"type": "string", "format": "uri"}, "PS": {"type": "string", "format": "uri"}, "PA": {"type": "string", "format": "uri"}, "PG": {"type": "string", "format": "uri"}, "PY": {"type": "string", "format": "uri"}, "PE": {"type": "string", "format": "uri"}, "PH": {"type": "string", "format": "uri"}, "PN": {"type": "string", "format": "uri"}, "PL": {"type": "string", "format": "uri"}, "PT": {"type": "string", "format": "uri"}, "PR": {"type": "string", "format": "uri"}, "QA": {"type": "string", "format": "uri"}, "RE": {"type": "string", "format": "uri"}, "RO": {"type": "string", "format": "uri"}, "RU": {"type": "string", "format": "uri"}, "RW": {"type": "string", "format": "uri"}, "SH": {"type": "string", "format": "uri"}, "KN": {"type": "string", "format": "uri"}, "LC": {"type": "string", "format": "uri"}, "PM": {"type": "string", "format": "uri"}, "VC": {"type": "string", "format": "uri"}, "WS": {"type": "string", "format": "uri"}, "SM": {"type": "string", "format": "uri"}, "ST": {"type": "string", "format": "uri"}, "SA": {"type": "string", "format": "uri"}, "SN": {"type": "string", "format": "uri"}, "SC": {"type": "string", "format": "uri"}, "SL": {"type": "string", "format": "uri"}, "SG": {"type": "string", "format": "uri"}, "SK": {"type": "string", "format": "uri"}, "SI": {"type": "string", "format": "uri"}, "SB": {"type": "string", "format": "uri"}, "SO": {"type": "string", "format": "uri"}, "ZA": {"type": "string", "format": "uri"}, "GS": {"type": "string", "format": "uri"}, "ES": {"type": "string", "format": "uri"}, "LK": {"type": "string", "format": "uri"}, "SD": {"type": "string", "format": "uri"}, "SR": {"type": "string", "format": "uri"}, "SJ": {"type": "string", "format": "uri"}, "SZ": {"type": "string", "format": "uri"}, "SE": {"type": "string", "format": "uri"}, "CH": {"type": "string", "format": "uri"}, "SY": {"type": "string", "format": "uri"}, "TW": {"type": "string", "format": "uri"}, "TJ": {"type": "string", "format": "uri"}, "TZ": {"type": "string", "format": "uri"}, "TH": {"type": "string", "format": "uri"}, "TL": {"type": "string", "format": "uri"}, "TG": {"type": "string", "format": "uri"}, "TK": {"type": "string", "format": "uri"}, "TO": {"type": "string", "format": "uri"}, "TT": {"type": "string", "format": "uri"}, "TN": {"type": "string", "format": "uri"}, "TR": {"type": "string", "format": "uri"}, "TM": {"type": "string", "format": "uri"}, "TC": {"type": "string", "format": "uri"}, "TV": {"type": "string", "format": "uri"}, "UG": {"type": "string", "format": "uri"}, "UA": {"type": "string", "format": "uri"}, "AE": {"type": "string", "format": "uri"}, "GB": {"type": "string", "format": "uri"}, "US": {"type": "string", "format": "uri"}, "UM": {"type": "string", "format": "uri"}, "UY": {"type": "string", "format": "uri"}, "UZ": {"type": "string", "format": "uri"}, "VU": {"type": "string", "format": "uri"}, "VE": {"type": "string", "format": "uri"}, "VN": {"type": "string", "format": "uri"}, "VG": {"type": "string", "format": "uri"}, "VI": {"type": "string", "format": "uri"}, "WF": {"type": "string", "format": "uri"}, "EH": {"type": "string", "format": "uri"}, "YE": {"type": "string", "format": "uri"}, "ZM": {"type": "string", "format": "uri"}, "ZW": {"type": "string", "format": "uri"}, "AX": {"type": "string", "format": "uri"}, "BQ": {"type": "string", "format": "uri"}, "CW": {"type": "string", "format": "uri"}, "GG": {"type": "string", "format": "uri"}, "IM": {"type": "string", "format": "uri"}, "JE": {"type": "string", "format": "uri"}, "ME": {"type": "string", "format": "uri"}, "BL": {"type": "string", "format": "uri"}, "MF": {"type": "string", "format": "uri"}, "RS": {"type": "string", "format": "uri"}, "SX": {"type": "string", "format": "uri"}, "SS": {"type": "string", "format": "uri"}, "XK": {"type": "string", "format": "uri"}}, "additionalProperties": false, "description": "Geo targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`."}, "publicStats": {"type": "boolean", "default": false, "description": "Whether the short link's stats are publicly accessible."}, "tagId": {"type": "string", "nullable": true, "description": "The unique ID of the tag assigned to the short link. This field is deprecated – use `tags` instead.", "deprecated": true}, "tags": {"type": "array", "nullable": true, "items": {"$ref": "#/components/schemas/TagSchema"}, "description": "The tags assigned to the short link."}, "folderId": {"type": "string", "nullable": true, "description": "The unique ID of the folder assigned to the short link."}, "webhookIds": {"type": "array", "items": {"type": "string"}, "description": "The IDs of the webhooks that the short link is associated with."}, "comments": {"type": "string", "nullable": true, "description": "The comments for the short link."}, "shortLink": {"type": "string", "format": "uri", "description": "The full URL of the short link, including the https protocol (e.g. `https://pim.ms/try`)."}, "qrCode": {"type": "string", "format": "uri", "description": "The full URL of the QR code for the short link (e.g. `https://api.pimms.io/qr?url=https://pim.ms/try`)."}, "utm_source": {"type": "string", "nullable": true, "description": "The UTM source of the short link."}, "utm_medium": {"type": "string", "nullable": true, "description": "The UTM medium of the short link."}, "utm_campaign": {"type": "string", "nullable": true, "description": "The UTM campaign of the short link."}, "utm_term": {"type": "string", "nullable": true, "description": "The UTM term of the short link."}, "utm_content": {"type": "string", "nullable": true, "description": "The UTM content of the short link."}, "userId": {"type": "string", "nullable": true, "description": "The user ID of the creator of the short link."}, "workspaceId": {"type": "string", "description": "The workspace ID of the short link."}, "clicks": {"type": "number", "default": 0, "description": "The number of clicks on the short link."}, "lastClicked": {"type": "string", "nullable": true, "description": "The date and time when the short link was last clicked."}, "leads": {"type": "number", "default": 0, "description": "The number of leads the short links has generated."}, "sales": {"type": "number", "default": 0, "description": "The number of sales the short links has generated."}, "saleAmount": {"type": "number", "default": 0, "description": "The total dollar amount of sales the short links has generated (in cents)."}, "createdAt": {"type": "string", "description": "The date and time when the short link was created."}, "updatedAt": {"type": "string", "description": "The date and time when the short link was last updated."}, "projectId": {"type": "string", "description": "The project ID of the short link. This field is deprecated – use `workspaceId` instead.", "deprecated": true}}, "required": ["id", "domain", "key", "url", "trackConversion", "externalId", "tenantId", "programId", "partnerId", "archived", "expiresAt", "expiredUrl", "password", "proxy", "title", "description", "image", "video", "rewrite", "doIndex", "ios", "android", "geo", "publicStats", "tagId", "tags", "folderId", "webhookIds", "comments", "shortLink", "qrCode", "utm_source", "utm_medium", "utm_campaign", "utm_term", "utm_content", "userId", "workspaceId", "clicks", "lastClicked", "leads", "sales", "saleAmount", "createdAt", "updatedAt", "projectId"], "title": "Link"}, "WorkspaceSchema": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique ID of the workspace."}, "name": {"type": "string", "description": "The name of the workspace."}, "slug": {"type": "string", "description": "The slug of the workspace."}, "logo": {"type": "string", "nullable": true, "default": null, "description": "The logo of the workspace."}, "inviteCode": {"type": "string", "nullable": true, "description": "The invite code of the workspace."}, "plan": {"type": "string", "enum": ["free", "pro", "business", "business plus", "business extra", "business max", "enterprise"], "description": "The plan of the workspace."}, "stripeId": {"type": "string", "nullable": true, "description": "The Stripe ID of the workspace."}, "billingCycleStart": {"type": "number", "description": "The date and time when the billing cycle starts for the workspace."}, "paymentFailedAt": {"type": "string", "nullable": true, "description": "The date and time when the payment failed for the workspace."}, "stripeConnectId": {"type": "string", "nullable": true, "description": "The Stripe Connect ID of the workspace."}, "usage": {"type": "number", "description": "The usage of the workspace."}, "usageLimit": {"type": "number", "description": "The usage limit of the workspace."}, "linksUsage": {"type": "number", "description": "The links usage of the workspace."}, "linksLimit": {"type": "number", "description": "The links limit of the workspace."}, "salesUsage": {"type": "number", "description": "The dollar amount of tracked revenue in the current billing cycle (in cents)."}, "salesLimit": {"type": "number", "description": "The limit of tracked revenue in the current billing cycle (in cents)."}, "domainsLimit": {"type": "number", "description": "The domains limit of the workspace."}, "tagsLimit": {"type": "number", "description": "The tags limit of the workspace."}, "foldersLimit": {"type": "number", "description": "The folders limit of the workspace."}, "usersLimit": {"type": "number", "description": "The users limit of the workspace."}, "aiUsage": {"type": "number", "description": "The AI usage of the workspace."}, "aiLimit": {"type": "number", "description": "The AI limit of the workspace."}, "conversionEnabled": {"type": "boolean", "description": "Whether the workspace has conversion tracking enabled automatically for new links."}, "dotLinkClaimed": {"type": "boolean", "description": "Whether the workspace has claimed a free domain."}, "partnersEnabled": {"type": "boolean", "description": "Whether the workspace has PIMMS Partners enabled."}, "createdAt": {"type": "string", "description": "The date and time when the workspace was created."}, "users": {"type": "array", "items": {"type": "object", "properties": {"role": {"type": "string", "enum": ["owner", "member"], "description": "The role of the authenticated user in the workspace."}}, "required": ["role"]}, "description": "The role of the authenticated user in the workspace."}, "domains": {"type": "array", "items": {"type": "object", "properties": {"slug": {"type": "string", "description": "The domain name.", "example": "acme.com"}, "primary": {"type": "boolean", "default": false, "description": "Whether the domain is the primary domain for the workspace."}, "verified": {"type": "boolean", "default": false, "description": "Whether the domain is verified."}}, "required": ["slug", "primary", "verified"]}, "description": "The domains of the workspace."}, "flags": {"type": "object", "additionalProperties": {"type": "boolean"}, "description": "The feature flags of the workspace, indicating which features are enabled."}, "store": {"type": "object", "nullable": true, "additionalProperties": {}, "description": "The miscellaneous key-value store of the workspace."}, "allowedHostnames": {"type": "array", "nullable": true, "items": {"type": "string"}, "description": "Specifies hostnames permitted for client-side click tracking.", "example": ["pim.ms"]}}, "required": ["id", "name", "slug", "logo", "inviteCode", "plan", "stripeId", "billingCycleStart", "paymentFailedAt", "stripeConnectId", "usage", "usageLimit", "linksUsage", "linksLimit", "salesUsage", "salesLimit", "domainsLimit", "tagsLimit", "foldersLimit", "usersLimit", "aiUsage", "aiLimit", "conversionEnabled", "dotLinkClaimed", "partnersEnabled", "createdAt", "users", "domains", "store", "allowedHostnames"], "title": "Workspace"}, "TagSchema": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique ID of the tag."}, "name": {"type": "string", "description": "The name of the tag."}, "color": {"type": "string", "enum": ["red", "yellow", "green", "blue", "purple", "pink", "brown"], "description": "The color of the tag."}}, "required": ["id", "name", "color"], "title": "Tag"}, "FolderSchema": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique ID of the folder."}, "name": {"type": "string", "description": "The name of the folder."}, "accessLevel": {"type": "string", "nullable": true, "enum": ["write", "read", null], "default": null, "description": "The access level of the folder within the workspace."}, "linkCount": {"type": "number", "description": "The number of links in the folder.", "default": 0}, "createdAt": {"type": "string", "description": "The date the folder was created."}, "updatedAt": {"type": "string", "description": "The date the folder was updated."}}, "required": ["id", "name", "accessLevel", "linkCount", "createdAt", "updatedAt"]}, "DomainSchema": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique identifier of the domain."}, "slug": {"type": "string", "description": "The domain name.", "example": "acme.com"}, "verified": {"type": "boolean", "default": false, "description": "Whether the domain is verified."}, "primary": {"type": "boolean", "default": false, "description": "Whether the domain is the primary domain for the workspace."}, "archived": {"type": "boolean", "description": "Whether the domain is archived.", "default": false}, "placeholder": {"type": "string", "nullable": true, "description": "Provide context to your teammates in the link creation modal by showing them an example of a link to be shortened.", "example": "https://pimms.io/blog/what-is-pimms"}, "expiredUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when a link under this domain has expired.", "example": "https://acme.com/expired"}, "notFoundUrl": {"type": "string", "nullable": true, "description": "The URL to redirect to when a link under this domain doesn't exist.", "example": "https://acme.com/not-found"}, "logo": {"type": "string", "nullable": true, "description": "The logo of the domain."}, "createdAt": {"type": "string", "description": "The date the domain was created."}, "updatedAt": {"type": "string", "description": "The date the domain was last updated."}, "registeredDomain": {"type": "object", "nullable": true, "properties": {"id": {"type": "string", "description": "The ID of the registered domain record."}, "createdAt": {"type": "string", "description": "The date the domain was created."}, "expiresAt": {"type": "string", "description": "The date the domain expires."}}, "required": ["id", "createdAt", "expiresAt"], "description": "The registered domain record."}}, "required": ["id", "slug", "verified", "primary", "archived", "placeholder", "expiredUrl", "notFoundUrl", "logo", "createdAt", "updatedAt", "registeredDomain"]}, "WebhookEvent": {"anyOf": [{"$ref": "#/components/schemas/LinkWebhookEvent"}, {"$ref": "#/components/schemas/LinkClickedEvent"}, {"$ref": "#/components/schemas/LeadCreatedEvent"}, {"$ref": "#/components/schemas/SaleCreatedEvent"}, {"$ref": "#/components/schemas/PartnerCreatedEvent"}], "description": "Webhook event schema", "x-speakeasy-include": true}, "LinkErrorSchema": {"type": "object", "properties": {"link": {"description": "The link that caused the error."}, "error": {"type": "string", "description": "The error message."}, "code": {"type": "string", "enum": ["bad_request", "not_found", "internal_server_error", "unauthorized", "forbidden", "rate_limit_exceeded", "invite_expired", "invite_pending", "exceeded_limit", "conflict", "unprocessable_entity"], "description": "The error code."}}, "required": ["error", "code"], "title": "LinkError"}, "linkGeoTargeting": {"type": "object", "nullable": true, "properties": {"AF": {"type": "string"}, "AL": {"type": "string"}, "DZ": {"type": "string"}, "AS": {"type": "string"}, "AD": {"type": "string"}, "AO": {"type": "string"}, "AI": {"type": "string"}, "AQ": {"type": "string"}, "AG": {"type": "string"}, "AR": {"type": "string"}, "AM": {"type": "string"}, "AW": {"type": "string"}, "AU": {"type": "string"}, "AT": {"type": "string"}, "AZ": {"type": "string"}, "BS": {"type": "string"}, "BH": {"type": "string"}, "BD": {"type": "string"}, "BB": {"type": "string"}, "BY": {"type": "string"}, "BE": {"type": "string"}, "BZ": {"type": "string"}, "BJ": {"type": "string"}, "BM": {"type": "string"}, "BT": {"type": "string"}, "BO": {"type": "string"}, "BA": {"type": "string"}, "BW": {"type": "string"}, "BV": {"type": "string"}, "BR": {"type": "string"}, "IO": {"type": "string"}, "BN": {"type": "string"}, "BG": {"type": "string"}, "BF": {"type": "string"}, "BI": {"type": "string"}, "KH": {"type": "string"}, "CM": {"type": "string"}, "CA": {"type": "string"}, "CV": {"type": "string"}, "KY": {"type": "string"}, "CF": {"type": "string"}, "TD": {"type": "string"}, "CL": {"type": "string"}, "CN": {"type": "string"}, "CX": {"type": "string"}, "CC": {"type": "string"}, "CO": {"type": "string"}, "KM": {"type": "string"}, "CG": {"type": "string"}, "CD": {"type": "string"}, "CK": {"type": "string"}, "CR": {"type": "string"}, "CI": {"type": "string"}, "HR": {"type": "string"}, "CU": {"type": "string"}, "CY": {"type": "string"}, "CZ": {"type": "string"}, "DK": {"type": "string"}, "DJ": {"type": "string"}, "DM": {"type": "string"}, "DO": {"type": "string"}, "EC": {"type": "string"}, "EG": {"type": "string"}, "SV": {"type": "string"}, "GQ": {"type": "string"}, "ER": {"type": "string"}, "EE": {"type": "string"}, "ET": {"type": "string"}, "FK": {"type": "string"}, "FO": {"type": "string"}, "FJ": {"type": "string"}, "FI": {"type": "string"}, "FR": {"type": "string"}, "GF": {"type": "string"}, "PF": {"type": "string"}, "TF": {"type": "string"}, "GA": {"type": "string"}, "GM": {"type": "string"}, "GE": {"type": "string"}, "DE": {"type": "string"}, "GH": {"type": "string"}, "GI": {"type": "string"}, "GR": {"type": "string"}, "GL": {"type": "string"}, "GD": {"type": "string"}, "GP": {"type": "string"}, "GU": {"type": "string"}, "GT": {"type": "string"}, "GN": {"type": "string"}, "GW": {"type": "string"}, "GY": {"type": "string"}, "HT": {"type": "string"}, "HM": {"type": "string"}, "VA": {"type": "string"}, "HN": {"type": "string"}, "HK": {"type": "string"}, "HU": {"type": "string"}, "IS": {"type": "string"}, "IN": {"type": "string"}, "ID": {"type": "string"}, "IR": {"type": "string"}, "IQ": {"type": "string"}, "IE": {"type": "string"}, "IL": {"type": "string"}, "IT": {"type": "string"}, "JM": {"type": "string"}, "JP": {"type": "string"}, "JO": {"type": "string"}, "KZ": {"type": "string"}, "KE": {"type": "string"}, "KI": {"type": "string"}, "KP": {"type": "string"}, "KR": {"type": "string"}, "KW": {"type": "string"}, "KG": {"type": "string"}, "LA": {"type": "string"}, "LV": {"type": "string"}, "LB": {"type": "string"}, "LS": {"type": "string"}, "LR": {"type": "string"}, "LY": {"type": "string"}, "LI": {"type": "string"}, "LT": {"type": "string"}, "LU": {"type": "string"}, "MO": {"type": "string"}, "MG": {"type": "string"}, "MW": {"type": "string"}, "MY": {"type": "string"}, "MV": {"type": "string"}, "ML": {"type": "string"}, "MT": {"type": "string"}, "MH": {"type": "string"}, "MQ": {"type": "string"}, "MR": {"type": "string"}, "MU": {"type": "string"}, "YT": {"type": "string"}, "MX": {"type": "string"}, "FM": {"type": "string"}, "MD": {"type": "string"}, "MC": {"type": "string"}, "MN": {"type": "string"}, "MS": {"type": "string"}, "MA": {"type": "string"}, "MZ": {"type": "string"}, "MM": {"type": "string"}, "NA": {"type": "string"}, "NR": {"type": "string"}, "NP": {"type": "string"}, "NL": {"type": "string"}, "NC": {"type": "string"}, "NZ": {"type": "string"}, "NI": {"type": "string"}, "NE": {"type": "string"}, "NG": {"type": "string"}, "NU": {"type": "string"}, "NF": {"type": "string"}, "MK": {"type": "string"}, "MP": {"type": "string"}, "NO": {"type": "string"}, "OM": {"type": "string"}, "PK": {"type": "string"}, "PW": {"type": "string"}, "PS": {"type": "string"}, "PA": {"type": "string"}, "PG": {"type": "string"}, "PY": {"type": "string"}, "PE": {"type": "string"}, "PH": {"type": "string"}, "PN": {"type": "string"}, "PL": {"type": "string"}, "PT": {"type": "string"}, "PR": {"type": "string"}, "QA": {"type": "string"}, "RE": {"type": "string"}, "RO": {"type": "string"}, "RU": {"type": "string"}, "RW": {"type": "string"}, "SH": {"type": "string"}, "KN": {"type": "string"}, "LC": {"type": "string"}, "PM": {"type": "string"}, "VC": {"type": "string"}, "WS": {"type": "string"}, "SM": {"type": "string"}, "ST": {"type": "string"}, "SA": {"type": "string"}, "SN": {"type": "string"}, "SC": {"type": "string"}, "SL": {"type": "string"}, "SG": {"type": "string"}, "SK": {"type": "string"}, "SI": {"type": "string"}, "SB": {"type": "string"}, "SO": {"type": "string"}, "ZA": {"type": "string"}, "GS": {"type": "string"}, "ES": {"type": "string"}, "LK": {"type": "string"}, "SD": {"type": "string"}, "SR": {"type": "string"}, "SJ": {"type": "string"}, "SZ": {"type": "string"}, "SE": {"type": "string"}, "CH": {"type": "string"}, "SY": {"type": "string"}, "TW": {"type": "string"}, "TJ": {"type": "string"}, "TZ": {"type": "string"}, "TH": {"type": "string"}, "TL": {"type": "string"}, "TG": {"type": "string"}, "TK": {"type": "string"}, "TO": {"type": "string"}, "TT": {"type": "string"}, "TN": {"type": "string"}, "TR": {"type": "string"}, "TM": {"type": "string"}, "TC": {"type": "string"}, "TV": {"type": "string"}, "UG": {"type": "string"}, "UA": {"type": "string"}, "AE": {"type": "string"}, "GB": {"type": "string"}, "US": {"type": "string"}, "UM": {"type": "string"}, "UY": {"type": "string"}, "UZ": {"type": "string"}, "VU": {"type": "string"}, "VE": {"type": "string"}, "VN": {"type": "string"}, "VG": {"type": "string"}, "VI": {"type": "string"}, "WF": {"type": "string"}, "EH": {"type": "string"}, "YE": {"type": "string"}, "ZM": {"type": "string"}, "ZW": {"type": "string"}, "AX": {"type": "string"}, "BQ": {"type": "string"}, "CW": {"type": "string"}, "GG": {"type": "string"}, "IM": {"type": "string"}, "JE": {"type": "string"}, "ME": {"type": "string"}, "BL": {"type": "string"}, "MF": {"type": "string"}, "RS": {"type": "string"}, "SX": {"type": "string"}, "SS": {"type": "string"}, "XK": {"type": "string"}}, "additionalProperties": false, "description": "Geo targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`."}, "LinkWebhookEvent": {"type": "object", "properties": {"id": {"type": "string"}, "event": {"anyOf": [{"type": "string", "enum": ["link.created"]}, {"type": "string", "enum": ["link.updated"]}, {"type": "string", "enum": ["link.deleted"]}]}, "createdAt": {"type": "string"}, "data": {"type": "object", "properties": {"id": {"type": "string", "description": "The unique ID of the short link."}, "domain": {"type": "string", "description": "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `pim.ms` if the workspace has no domains)."}, "key": {"type": "string", "description": "The short link slug. If not provided, a random 7-character slug will be generated."}, "url": {"type": "string"}, "trackConversion": {"type": "boolean"}, "externalId": {"type": "string", "nullable": true, "description": "The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace."}, "tenantId": {"type": "string", "nullable": true, "description": "The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."}, "programId": {"type": "string", "nullable": true, "description": "The ID of the program the short link is associated with."}, "partnerId": {"type": "string", "nullable": true, "description": "The ID of the partner the short link is associated with."}, "archived": {"type": "boolean"}, "expiresAt": {"type": "string"}, "expiredUrl": {"type": "string", "nullable": true}, "password": {"type": "string", "nullable": true, "description": "The password required to access the destination URL of the short link."}, "proxy": {"type": "boolean"}, "title": {"type": "string", "nullable": true, "description": "The title of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "description": {"type": "string", "nullable": true, "description": "The description of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "image": {"type": "string", "nullable": true, "description": "The image of the short link generated via `api.pimms.io/metatags`. Will be used for Custom Social Media Cards if `proxy` is true."}, "video": {"type": "string", "nullable": true, "description": "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true."}, "rewrite": {"type": "boolean"}, "doIndex": {"type": "boolean"}, "ios": {"type": "string", "nullable": true, "description": "The iOS destination URL for the short link for iOS device targeting."}, "android": {"type": "string", "nullable": true, "description": "The Android destination URL for the short link for Android device targeting."}, "geo": {"type": "object", "nullable": true, "properties": {"AF": {"type": "string", "format": "uri"}, "AL": {"type": "string", "format": "uri"}, "DZ": {"type": "string", "format": "uri"}, "AS": {"type": "string", "format": "uri"}, "AD": {"type": "string", "format": "uri"}, "AO": {"type": "string", "format": "uri"}, "AI": {"type": "string", "format": "uri"}, "AQ": {"type": "string", "format": "uri"}, "AG": {"type": "string", "format": "uri"}, "AR": {"type": "string", "format": "uri"}, "AM": {"type": "string", "format": "uri"}, "AW": {"type": "string", "format": "uri"}, "AU": {"type": "string", "format": "uri"}, "AT": {"type": "string", "format": "uri"}, "AZ": {"type": "string", "format": "uri"}, "BS": {"type": "string", "format": "uri"}, "BH": {"type": "string", "format": "uri"}, "BD": {"type": "string", "format": "uri"}, "BB": {"type": "string", "format": "uri"}, "BY": {"type": "string", "format": "uri"}, "BE": {"type": "string", "format": "uri"}, "BZ": {"type": "string", "format": "uri"}, "BJ": {"type": "string", "format": "uri"}, "BM": {"type": "string", "format": "uri"}, "BT": {"type": "string", "format": "uri"}, "BO": {"type": "string", "format": "uri"}, "BA": {"type": "string", "format": "uri"}, "BW": {"type": "string", "format": "uri"}, "BV": {"type": "string", "format": "uri"}, "BR": {"type": "string", "format": "uri"}, "IO": {"type": "string", "format": "uri"}, "BN": {"type": "string", "format": "uri"}, "BG": {"type": "string", "format": "uri"}, "BF": {"type": "string", "format": "uri"}, "BI": {"type": "string", "format": "uri"}, "KH": {"type": "string", "format": "uri"}, "CM": {"type": "string", "format": "uri"}, "CA": {"type": "string", "format": "uri"}, "CV": {"type": "string", "format": "uri"}, "KY": {"type": "string", "format": "uri"}, "CF": {"type": "string", "format": "uri"}, "TD": {"type": "string", "format": "uri"}, "CL": {"type": "string", "format": "uri"}, "CN": {"type": "string", "format": "uri"}, "CX": {"type": "string", "format": "uri"}, "CC": {"type": "string", "format": "uri"}, "CO": {"type": "string", "format": "uri"}, "KM": {"type": "string", "format": "uri"}, "CG": {"type": "string", "format": "uri"}, "CD": {"type": "string", "format": "uri"}, "CK": {"type": "string", "format": "uri"}, "CR": {"type": "string", "format": "uri"}, "CI": {"type": "string", "format": "uri"}, "HR": {"type": "string", "format": "uri"}, "CU": {"type": "string", "format": "uri"}, "CY": {"type": "string", "format": "uri"}, "CZ": {"type": "string", "format": "uri"}, "DK": {"type": "string", "format": "uri"}, "DJ": {"type": "string", "format": "uri"}, "DM": {"type": "string", "format": "uri"}, "DO": {"type": "string", "format": "uri"}, "EC": {"type": "string", "format": "uri"}, "EG": {"type": "string", "format": "uri"}, "SV": {"type": "string", "format": "uri"}, "GQ": {"type": "string", "format": "uri"}, "ER": {"type": "string", "format": "uri"}, "EE": {"type": "string", "format": "uri"}, "ET": {"type": "string", "format": "uri"}, "FK": {"type": "string", "format": "uri"}, "FO": {"type": "string", "format": "uri"}, "FJ": {"type": "string", "format": "uri"}, "FI": {"type": "string", "format": "uri"}, "FR": {"type": "string", "format": "uri"}, "GF": {"type": "string", "format": "uri"}, "PF": {"type": "string", "format": "uri"}, "TF": {"type": "string", "format": "uri"}, "GA": {"type": "string", "format": "uri"}, "GM": {"type": "string", "format": "uri"}, "GE": {"type": "string", "format": "uri"}, "DE": {"type": "string", "format": "uri"}, "GH": {"type": "string", "format": "uri"}, "GI": {"type": "string", "format": "uri"}, "GR": {"type": "string", "format": "uri"}, "GL": {"type": "string", "format": "uri"}, "GD": {"type": "string", "format": "uri"}, "GP": {"type": "string", "format": "uri"}, "GU": {"type": "string", "format": "uri"}, "GT": {"type": "string", "format": "uri"}, "GN": {"type": "string", "format": "uri"}, "GW": {"type": "string", "format": "uri"}, "GY": {"type": "string", "format": "uri"}, "HT": {"type": "string", "format": "uri"}, "HM": {"type": "string", "format": "uri"}, "VA": {"type": "string", "format": "uri"}, "HN": {"type": "string", "format": "uri"}, "HK": {"type": "string", "format": "uri"}, "HU": {"type": "string", "format": "uri"}, "IS": {"type": "string", "format": "uri"}, "IN": {"type": "string", "format": "uri"}, "ID": {"type": "string", "format": "uri"}, "IR": {"type": "string", "format": "uri"}, "IQ": {"type": "string", "format": "uri"}, "IE": {"type": "string", "format": "uri"}, "IL": {"type": "string", "format": "uri"}, "IT": {"type": "string", "format": "uri"}, "JM": {"type": "string", "format": "uri"}, "JP": {"type": "string", "format": "uri"}, "JO": {"type": "string", "format": "uri"}, "KZ": {"type": "string", "format": "uri"}, "KE": {"type": "string", "format": "uri"}, "KI": {"type": "string", "format": "uri"}, "KP": {"type": "string", "format": "uri"}, "KR": {"type": "string", "format": "uri"}, "KW": {"type": "string", "format": "uri"}, "KG": {"type": "string", "format": "uri"}, "LA": {"type": "string", "format": "uri"}, "LV": {"type": "string", "format": "uri"}, "LB": {"type": "string", "format": "uri"}, "LS": {"type": "string", "format": "uri"}, "LR": {"type": "string", "format": "uri"}, "LY": {"type": "string", "format": "uri"}, "LI": {"type": "string", "format": "uri"}, "LT": {"type": "string", "format": "uri"}, "LU": {"type": "string", "format": "uri"}, "MO": {"type": "string", "format": "uri"}, "MG": {"type": "string", "format": "uri"}, "MW": {"type": "string", "format": "uri"}, "MY": {"type": "string", "format": "uri"}, "MV": {"type": "string", "format": "uri"}, "ML": {"type": "string", "format": "uri"}, "MT": {"type": "
[...]
